@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-montserrat font-500;
}

.bg-custom-gradient-yellow {
  background: linear-gradient(71deg, #feaf00 19.35%, #f8d442 90.12%);
}

.student-list-item,
.student-list-heading {
  column-gap: 12px;
  padding: 1.25rem 0.75rem;
  grid-template-columns:
    [first]70px
    [var1]minmax(150px, 3fr)
    [var2]minmax(200px, 4fr)
    [var3]minmax(100px, 3fr)
    [var4]minmax(130px, 2fr)
    [var5]minmax(150px, 2fr)
    [last]100px;
}

.payment-list-item,
.payment-list-heading {
  column-gap: 15px;
  padding: 1.25rem 0.75rem;
  grid-template-columns:
    [first]minmax(150px, 3fr)
    [var1]minmax(170px, 3fr)
    [var2]minmax(100px, 3fr)
    [var3]minmax(120px, 3fr)
    [var4]minmax(150px, 3fr)
    [var5]minmax(130px, 3fr)
    [last]50px;
}

.student-list-item,
.payment-list-item {
  @apply my-2 grid border rounded-xl items-center hover:bg-custom-beige font-400 transition;
}

.btn {
  @apply rounded-md hover:shadow-lg p-3 transition disabled:shadow-none disabled:bg-custom-dark-gray;
}

.btn-primary {
  @apply bg-custom-yellow text-white;
}

.login-card {
  @apply w-1/4 min-w-max bg-white py-10 px-8 rounded-2xl shadow-lg text-black text-sm text-center flex flex-col gap-y-10 justify-between;
}

.sidebar {
  @apply w-1/6 min-w-max min-h-min overflow-y-scroll bg-custom-beige py-10 px-3 flex flex-col items-stretch justify-between gap-y-2;
}

.sidebar .nav-link {
  @apply py-3 px-16 min-w-max block rounded-lg my-3 flex items-baseline justify-stretch gap-2 transition hover:bg-custom-gray;
}

.sidebar .nav-link.active {
  @apply bg-custom-yellow;
}

.dashboard-grid {
  @apply p-8 h-auto grid xl:grid-cols-4 gap-8 items-stretch lg:grid-cols-2 grid-cols-1;
}

.dashboard-card {
  @apply block p-10 cursor-pointer rounded-lg hover:shadow-2xl hover:shadow-zinc-300 border transition overflow-hidden;
}

.dashboard-card-primary {
  @apply bg-custom-gradient-yellow text-white;
}

.dashboard-card-secondary {
  @apply bg-custom-light-yellow;
}

.dashboard-card-thirdly {
  @apply bg-custom-light-pink;
}

.dashboard-card-fourthly {
  @apply bg-custom-light-blue;
}

.sort-menu {
  @apply block z-10 absolute right-0 bg-white border rounded-lg shadow-md transition;
}

.sort-option {
  @apply list-none capitalize py-2 px-3 cursor-pointer w-full min-w-max rounded hover:bg-custom-beige text-xs;
}

.sort-option.active {
  @apply bg-custom-yellow;
}
