.bg-gradient-custom {
  background: linear-gradient(71deg, #feaf00 19.35%, #f8d442 90.12%);
}

.login-card {
  min-width: 500px;
}

.sidebar .img-container {
  min-width: 128px;
  min-height: 128px;
}

.dashboard-card .img-container {
  min-height: 40px;
}

.students .list-heading,
.students .student {
  column-gap: 12px;
  padding: 1.25rem 0.75rem;
  grid-template-columns:
    [first]70px
    [var1]minmax(150px, 3fr)
    [var2]minmax(200px, 4fr)
    [var3]minmax(100px, 3fr)
    [var4]minmax(130px, 2fr)
    [var5]minmax(150px, 3fr)
    [last]100px;
}

.payments .list-heading,
.payments .payment {
  column-gap: 15px;
  padding: 1.25rem 0.75rem;
  grid-template-columns:
    [first]minmax(150px, 3fr)
    [var1]minmax(170px, 3fr)
    [var2]minmax(100px, 3fr)
    [var3]minmax(120px, 3fr)
    [var4]minmax(150px, 3fr)
    [var5]minmax(130px, 3fr)
    [last]50px;
}

/* Hide scrollbar for all elements */
.sidebar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit-based browsers (e.g., Chrome, Safari) */
  scrollbar-width: thin; /* Hide scrollbar for Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit-based browsers (e.g., Chrome, Safari) */
  scrollbar-width: thin; /* Hide scrollbar for Firefox */
}
