.gradient-custom {
  background: linear-gradient(71deg, #feaf00 19.35%, #f8d442 90.12%);
}

.login-card {
  min-width: 500px;
}

.sidebar {
  min-width: 300px;
}

.sidebar .img-container {
  min-width: 128px;
  min-height: 128px;
}

.dashboad-card .img-container {
  min-width: 48px;
  min-height: 30px;
}
